// Launch with the desired Python environment at the front of PATH.
docker.enabled = false
singularity.enabled = false
process {
    executor = 'local'
    withName: '.*:infer_ica_activities' {
        beforeScript = { task.index == 1 ? 'sleep 2' : 'true' }
    }
    withLabel: seq_lm_ica {
        container = null
        maxForks = 2
    }
}
