docker.enabled = false
singularity.enabled = false
env.PATH = "${baseDir}/../bin:${System.getenv('PATH')}"
params.out_dir = "${System.getProperty('java.io.tmpdir')}/seq-lm-stability-test-${System.nanoTime()}"

process {
    executor = 'local'
    withName: assess_differential_stability {
        container = null
    }
}
